<div class="footer-copyright">
    <div><strong>Roofing Inc</strong></div>
    <div>Expert Roofing Solutions</div>
</div>
{% include "/partial/footer-menu.twig" with {'items': footer_menu.get_items} %}